/.m2
/.ssh
/.vagrant
/.vagrant(copy)
/cache
/clocial
/judal
/knowgate
/knowgate9
/ideaprojects
/logs
/thecodesynd
/tmp
/workspace
/vagrant-setup/.m2/repository
/vagrant-setup/cache/yum
/vagrant-setup/cache/*.bin
/vagrant-setup/cache/*.jar
/vagrant-setup/cache/*.tar
/vagrant-setup/cache/*.tar.gz
/vagrant-setup/cache/*.tgz
/vagrant-setup/cache/*.rpm
/vagrant-setup/cache/*.bz2
/vagrant-setup/cache/*.zip
/vagrant-setup/clocial
/vagrant-setup/target
*.log
*.pbk
*.ppk
*.pub
id_dsa
id_rsa
ultraedit.prj
clocial.sh
clocial-readme.txt
clocial-src.sh
clocial-test-db.sh

